// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary: #f91723;

.btn {
    color: #FFFFFF;
    background-color: #f91723;
}

$secondary: #ececec;

.homecardwidth {
     width: 17.8rem;
}

